@tailwind base;
@tailwind components;
@tailwind utilities;

.banner{
  position: relative;
}
.banner {
  position: absolute;
  bottom: 35%;
  left: 33%;
}
.logo {
  text-align: center;
}
.logo img{
  object-fit: cover;
}
.header-title{
  margin-top: 25px;
  font-size: 32px;
}
.header-decrp{
  font-weight: 500;
}